
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../images/1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Hotels</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/3.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Hotels</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Hotels</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
    <!--    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Modern Business
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.2.0</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- /.row -->


     <!--   <div class="col-md-12">
                <h1 class="page-header">
                    Welcome to EasyLiving
                </h1>
         </div>-->
 
    
          <div class="row">
                <div class=" col-md-6">
                    <h3 style="margin-left:150px; font-weight:500 ">Search Here</h3>            
                </div>
        <hr style="margin-left:100px; width:800px"/> 
    </div>

            <div class="col-md-offset-2">    
        <form id="search" action="../Search/Index" method="get" class="form-horizontal" role="form">

            <div class="form-group ">
                <div class=" col-md-3" >
                    <label class="col-md-3" >City</label>
                    <div class="form-group">
                      <select class="form-control" name="city" form="search" >
                        <option>Lahore</option>
                        <option>Karachi</option>
                        <option>Islamabad</option>
                        <option>Faisalabad</option>
                          <option>Multan</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <label class="col-md-3">Rating</label>
                    <div class="form-group">
                        <select class="form-control" name="rating" id="rating" form="search">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <label class="col-md-3">Price</label>
                    <div class="form-group">
                        <select class="form-control" name="price" id="price" form="search">

                            <option value="5000">5000 to 15000</option>
                            <option value="15000">15000 to 25000</option>
                            <option value="25000">25000 to 35000</option>
                            <option value="35000">35000 to 45000</option>
                            <option value="45000">45000 to above</option>
                        </select>
                    </div>
                </div>
                <label class="col-md-3">search</label>
                <div class="col-md-2">

                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
 








  <!--      <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Easy Living
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Hotel</h4>
                    </div>
                    <div class="panel-body">
                        
                        <div class="thumbnail">
                            <img src="~/images/1.jpg" alt="...">
                        </div>
                        <a href="~/Search/Index/?city=Lahore&place=Hotel" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Hostel</h4>
                    </div>
                    <div class="panel-body">
                         <div class="thumbnail">
                            <img src="~/images/1.jpg" alt="...">
                        </div>
                        <a href="~/Search/Index/?city=Lahore&place=Hostel" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Houses </h4>
                    </div>
                    <div class="panel-body"> <div class="thumbnail">
                            <img src="~/images/1.jpg" alt="...">
                    </div>
                        <a href="~/Search/Index/?city=Lahore&place=House" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>   -->




        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Places You Love to live</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/11.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/12.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/13.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/14.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/15.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="../images/himages/13.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.2.0</strong>
                    </li>
                    <li>jQuery v1.11.0</li>
                    <li>Font Awesome v4.1.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="../images/3.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
   

<!-- jQuery -->
        <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>