<br/> 
<br/>   
<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Room Booking
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Hotels</li>
                    <li class="active">Hotel Details</li>
                    <li class="active">Room Booked</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

    
    <h2>Your Room is booked check Your bookings </h2>


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
